body {
    background-color: #e6c4ab;
}

.container {
    margin: auto;
    max-width: 900px;
}

header {
    padding: 5px;
    border-bottom: 2px solid black;
    text-align: right;
}

.products {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.product-item {
    text-align: center;
}

.product-item h3 {
    color: white;
    text-shadow: 0px 0px 3px #8f1e60;
}

.product-item p::after {
    content: " руб.";
}

.product-item img {
    border-radius: 15%;
}

.cart{
    position: relative;
}
.cart-block{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.62);
    border-radius: 5px;
    box-sizing: border-box;
    right: 0;
    top: 130%;
    position: absolute;
    background-color: white;
    padding: 20px;
    color: black;
    width: 300px;
}

.invisible{
    display: none;
}
.cart-block:before{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    right: 35px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
}

.buy-btn, .del-btn{
    margin-top: 5px;
    background-color: #8f1e60;
    padding: 5px 15px;
    border: 1px solid transparent;
    color: #fafafa;
    border-radius: 5px;
    transition: all ease-in-out .4s;
    cursor: pointer;
}
.buy-btn:hover, .del-btn:hover{
    background-color: #fafafa;
    color: #8f1e60;
    border: 1px solid #8f1e60;
}
.cart-item {
    display: flex;
    justify-content: space-between;
}
.cart-item:not(:last-child){
    margin-bottom: 20px;
}
.product-bio{
    display: flex;
}
.cart-item img{
    align-self: flex-start;
    margin-right: 15px;
}
.btn-basket {
    border-radius: 5px;
    border: none;
    background-color: #bd57d1;
    padding: .5em;
    color: white;
    font-weight: 700;
}


.buy-btn {
    padding: .5em;
    border: none;
    background-color: #bd57d1;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
}

.btn-search {
    background-color: transparent;
    border: none;
    color: #fafafa;
    font-size: 1.2em;
    position: absolute;
    bottom: 5px;
    right: 0;
}
.search-form{
    position: relative;
    margin-right: 50px;
    display: inline-block;
}
.search-field:focus{
    outline: none;
}
.search-field {
    box-sizing: border-box;
    width: 200px;
    color: #fafafa;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fafafa;
}



